.wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 26px;
  padding-left: 20%;
  position: relative;

  .mainWrapper {
    display: flex;
    flex-direction: column;
    gap: 21px;
    height: calc(100vh - 140px);

    .title {
      font-family: Gilroy-Bold;
      font-size: 26px;
    }

    .transactionsWrapper {
      display: flex;
      max-width: 335px;
      width: 100%;
      flex-direction: column;
      gap: 12px;
      height: 100%;
      overflow-y: auto;
      overscroll-behavior: none;
      scrollbar-width: none;
      -ms-overflow-style: none;
    }

    .transactionsWrapper::-webkit-scrollbar {
      display: none;
    }

    .row {
      display: flex;
      padding-bottom: 12px;
      border-bottom: 1px solid var(--app-gray-11);
    }
  }
}


.icon {
  cursor: pointer;
}

.label {
  font-size: 14px;
}

.boldLabel {
  font-family: Gilroy-Bold;
}

.loaderWrapper > div {
  height: 60vh;
}

.paginationWrapper {
  display: flex;
  margin-top: auto;
}

.accountLabel {
  font-family: Gilroy-Bold;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: -0.2px;
}

.topWrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 5px;
}

.line {
  display: flex;
  width: calc(100% + 60px);
  margin-left: -30px;
  border-bottom: 1px solid var(--app-gray-11);
}

@media screen and (max-width: 768px) {
  .icon {
    position: absolute;
    left: 0;
    top: 60px;
  }

  .title {
    margin-left: 22px;
  }

  .wrapper {
    padding-left: 0;
    min-width: 335px;
    gap: 20px;
  }

  .paginationWrapper {
    justify-content: center;
  }

  .transactionsWrapper {
    padding-bottom: 70px;
  }
}
