.mainWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .plusIconWrapper {
    margin: 12px 0 33px;
  }

  .title {
    font-family: Gilroy-Bold;
    font-size: 20px;
    margin-bottom: 8px;
  }

  .label {
    display: flex;
    width: 352px;
    text-align: center;
    margin-bottom: 28px;
  }

  .codeExample {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 56px;
    border-radius: 8px;
    background-color: var(--app-gray-3);
    color: #8A8EA0;
    font-family: Gilroy-Bold;
    font-size: 30px;
    line-height: 125%;
    letter-spacing: 0.9px;
    margin-bottom: 12px;
  }
}

.form{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.shortLabel{
  width: 329px !important;
  margin-bottom: 76px !important;
  margin-top: 12px;
}

.button{
  margin-top: 16px;
}

.blackLabel{
  color: var(--app-black-1) !important;
}