.wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;

  .card {
    margin: 33px 0 25px;
  }

  .shareIconsWrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 7px;
    margin-top: 33px;

    .shareBlock {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 8px;

      .shareIconWrapper {
        width: 50px;
        height: 50px;
        display: flex;
        cursor: pointer;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        background-color: var(--app-gray-1);
      }

      span {
        font-size: 14px;
      }
    }
  }

  .bold {
    font-family: Gilroy-Bold;
    font-size: 18px;
    line-height: 20px;
  }

  .label {
    display: flex;
    align-self: center;
    max-width: 269px;
    font-family: Gilroy-Medium;
    font-size: 16px;
    line-height: 20px;
    margin: 9px 0 8px;
  }
}