.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 18px;
  margin-bottom: 19px;

  .orWrapper{
    display: flex;
    align-self: center;
    gap: 12px;

    .line{
      display: flex;
      width: 100%;
      border-bottom: 1px solid var(--app-gray-11);
    }

    .orLabel{
      font-family: Gilroy-Medium;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
}