.main {
  display: flex;
  gap: 37px;
  margin-top: 63px;

  .leftWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 500px;

    .infoWrapper {
      display: flex;
      align-items: end;
      gap: 17px;
      margin-bottom: 24px;

      .infoBlock {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 14px;

        .name {
          font-family: Gilroy-Bold;
          font-size: 22px;
        }
      }

      .shareWrapper {
        top: -20px;
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        gap: 18px;
        align-items: end;
        min-width: 258px;

        .dotsIcon {
          cursor: pointer;
          margin-right: 5px;
          position: relative;
        }
      }
    }

    .bioBlock {
      display: flex;
      flex-direction: column;
      gap: 8px;
      max-width: 345px;

      .location {
        font-size: 12px;
        color: var(--app-gray-4);
      }
    }

    .specialitiesBlock {
      margin: 22px 0 30px;
      display: flex;
      max-width: 360px;
      width: 100%;
      gap: 7px;
      flex-wrap: wrap;
    }
  }

  .rightWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 12px;
    align-items: end;
    margin-bottom: 24px;
  }
}

.mediasWrapper {
  z-index: 9;
  display: flex;
  gap: 6px;

  .socialLink {
    display: flex;
    height: 30px;
    text-decoration: none;
  }
}

.mobInfoWrapper {
  width: 100%;
  justify-content: center;
  flex-direction: column;
  display: flex;
  align-items: center;
  gap: 14px;
  margin-bottom: 20px;

  .nameRow {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mobileName {
    font-family: Gilroy-Bold;
    font-size: 22px;
  }

  i {
    margin-top: 0 !important;
  }

  .w22 {
    width: 22px;
  }
}

.mobileShareWrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 18px;
  align-items: end;

  s .shareIcon {
    font-size: 22px;
    margin-top: 25px;
    cursor: pointer;
  }

  .dotsIcon {
    cursor: pointer;
    margin-right: 5px;
    position: relative;
  }
}

.reportPopup {
  display: flex;
  position: absolute;
  top: 17px;
  left: -88px;
  width: 106px;
  height: 42px;
  z-index: 99;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid var(--app-gray-5);
  background-color: var(--app-white-1);
  padding-left: 11px;
  align-items: center;
}

.shareIcon {
  font-size: 22px;
  margin-top: 25px;
  cursor: pointer;
}

.badge {
  border-radius: 4px;
  height: 38px;

  span {
    font-size: 15px !important;
  }

  i {
    font-size: 15px !important;
    color: var(--app-black-1);
  }
}

.block {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 502px;
  width: 100%;
  padding: 17px 13px 25px 0;
  border-top: 1px solid var(--app-gray-3);
}

.shortBio{
  white-space: pre-wrap;
  font-size: 16px !important;
  line-height: 26px !important;
  word-break: break-word;
}

.label {
  font-size: 14px;
}

.label2 {
  font-size: 16px;
  line-height: 26px;
}
.label2::marker{
  color: var(--app-gray-12);
}


.labelBio {
  white-space: pre-wrap;
  font-size: 14px;
  line-height: 21px;
  word-break: break-word;
}

.subtitle {
  font-family: Gilroy-Bold;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin-left: 10px;
}

li::marker {
  color: var(--app-gray-12);
}

.badgeSpec {
  cursor: default;
}

.video {
  width: 100%;
  height: 80vh;
}

.messageBadge {
  width: 98px;
}

.videoModal {
  background-color: transparent !important;
  box-shadow: none !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

@media screen and (max-width: 1200px) {
  .rightWrapper {
    align-items: start !important;
  }
}

@media screen and (max-width: 768px) {
  .main {
    margin-top: 40px !important;
  }
  .leftWrapper {
    align-items: center;
    min-width: 375px !important;
  }
  .banner {
    transform: none;
    margin: 10px 0 28px;
    top: 5px;
  }
  .specialitiesBlock {
    justify-content: center !important;
  }
  .bioBlock {
    align-items: center;
  }
}

@media screen and (max-width: 425px) {
  .shortBio{
    text-align: center;
  }
  .leftWrapper {
    max-width: 335px;
  }
  .mobInfoWrapper {
    max-width: 335px;
  }
  .gallery {
    padding-left: 20px;
  }
  .line {
    display: flex;
    margin: 8px 0 0 -50%;
    border-bottom: 1px solid var(--app-gray-3);
    width: calc(100% + 50vw);
  }
  .rightWrapper {
    align-items: center !important;
  }
  .block {
    padding-left: 20px;
  }
}
