.wrapper {
  display: flex;
  width: 100%;
  padding-left: 20%;
  flex-direction: column;

  .main {
    display: flex;
    flex-direction: column;
    max-width: 335px;
    width: 100%;

    .form {
      display: flex;
      flex-direction: column;
      gap: 24px;

      .nameWrapper{
        margin-top: 4px;
        display: flex;
        flex-direction: column;
        gap: 10px;
      }

      .titleWrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .title {
          font-family: Gilroy-Bold;
          font-size: 26px;
        }
      }


      .block {
        position: relative;
        display: flex;
        max-width: 335px;
        width: 100%;
        flex-direction: column;
        gap: 10px;
      }

      .row {
        min-width: 335px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 12px;
        border-bottom: 1px solid var(--app-gray-11);
      }

      .row2 {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
  }
}
.button{
  height: 40px;
}

.label {
  font-family: Gilroy-Bold;
  font-size: 14px;
}

.label2 {
  font-size: 14px;
}

.label4 {
  font-size: 14px;
  cursor: pointer;
}
.signOut {
  margin-top: 14px;
}

@media screen and (max-width: 768px) {
  .wrapper {
    padding-left: 0 !important;
    margin-top: 0;
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 425px) {
  .button{
    height: 32px;
  }

  .line {
    width: calc(100% + 50vw);
    display: flex;
    border-bottom: 1px solid var(--app-gray-3);
    margin-left: -50%;
    margin-top: -20px;
  }
}