.wrapper {
  display: flex;
  flex-direction: column;
  width: 404px;
  border-radius: 8px;
  border: 1px solid var(--app-gray-1);
  padding: 26px 10px 19px;
  gap: 10px;
  height: min-content;
  transition: .15s all ease-in-out;


  .row {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 21px 0 21px;
  }

  .block {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;

    .labelsBlock {
      display: flex;
      align-items: center;
      padding: 0 25px 0 21px;
      gap: 6px;
    }

    .badgesWrapper {
      display: flex;
      gap: 9px;
      padding: 0 25px 0 21px;
      justify-content: space-between;
    }
  }

  .infoBlock {
    display: flex;
    flex-direction: column;
    padding: 0 25px 0 21px;
    margin-top: -8px;
  }
}

.daysSlider{
  div{
    cursor: default;
  }
}

.timesSlider {
  div {
    div {
      width: 79px;
    }
  }
}

.hidden {
  background-color: var(--app-gray-3);
  padding: 15px 10px 12px;
  gap: 6px;
}

.boldText {
  font-family: Gilroy-Bold;
  font-size: 18px;
}

.label {
  font-size: 14px;
}

.cyanLabel {
  color: var(--app-cyan-1);
}

.error {
  font-size: 14px;
  color: var(--app-red);
}

.badge {
  width: 100%;
}

.noAvaText{
  font-family: Gilroy-Medium;
  font-size: 16px;
  margin: 10px 0 20px 23px;
}

.rowButton {
  display: flex;
  width: 100%;
  justify-content: center;
}

.bookButton {
  width: 333px;
  height: 44px;
  font-size: 16px;
}

@media screen and (max-width: 425px) {
  .row {
    padding: 0 !important;
  }
  .infoBlock {
    padding: 0 !important;
  }
  .labelsBlock {
    padding: 0 !important;
  }

  .bookButton {
    width: 294px;
  }

  .wrapper {
    width: 335px;
    padding: 26px 18px 19px;
    overflow: hidden;
  }
  .badgesWrapper {
    padding: 0 !important;
  }

  .noAvaText{
    margin-left: 2px;
  }
}