.wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 16px;
  padding-left: 20%;
  position: relative;

  .mainWrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 100%;

    .title {
      font-family: Gilroy-Bold;
      font-size: 26px;
    }

    .planCardWrapper {
      max-width: 338px;
      width: 100%;
      display: flex;
      flex-direction: column;
      border-radius: 10px;
      padding: 29px 25px;
      box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.06);
      height: 100%;

      .subtitle {
        font-family: Gilroy-Bold;
        font-size: 18px;
        margin-bottom: 10px;
      }

      .pricesWrapper {
        display: flex;
        flex-direction: column;
        margin: 18px 0;
        gap: 6px;
      }

      .includesWrapper {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin-top: 21px;

        .includeRow {
          display: flex;
          align-items: center;
          gap: 8px;

          .checkWrapper {
            display: flex;
            height: 19px;
            width: 19px;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            background-color: var(--app-cyan-1);
          }
        }
      }
    }
  }
}

.title{
  font-family: Gilroy-Bold;
  font-size: 26px;
}

.icon {
  cursor: pointer;
}

.iconCheck {
  font-size: 10px;
  color: var(--app-white-1);
}

.label {
  font-size: 14px;
}

.labelInclude{
  display: flex;
  max-width: 256px;
  font-family: Gilroy-Medium;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.label2 {
  font-size: 14px;
  color: var(--app-gray-4);
}

.label3 {
  font-size: 16px;
  line-height: 26px;
}

.label4 {
  font-size: 14px;
}

.boldLabel {
  font-family: Gilroy-Bold;
  font-size: 26px;
}

.accountLabel {
  font-family: Gilroy-Bold;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: -0.2px;
}

.topWrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 5px;
}

.line{
  display: flex;
  width: calc(100% + 50px);
  margin-left: -25px;
  border-bottom: 1px solid var(--app-gray-11);
}

@media screen and (max-width: 768px) {
  .icon {
    position: absolute;
    left: 0;
    top: 60px;
  }

  .title {
    margin-left: 22px;
  }

  .mainWrapper{
    gap: 20px !important;
  }

  .wrapper {
    padding-left: 0;
    min-width: 335px;
    gap: 20px !important;
    padding-bottom: 70px;
  }
}