.notesWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-x: hidden;
  padding: 18px 3px 22px 18px;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 7px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 100px;
  }
  &::-webkit-scrollbar-thumb{
    border-radius: 100px;
    background-color: var(--app-gray-1);
  }

  .form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-right: 3px;
    gap: 15px;


    &::-webkit-scrollbar-thumb {
      background: var(--app-gray-3);
      border-radius: 10px;
      width: 7px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #818181;
    }

    .newNoteWrapper {
      display: flex;
      flex-direction: column;
      gap: 9px;

      .saveButtonWrapper {
        display: flex;
        justify-content: end;

        button {
          width: 89px;
          font-family: Gilroy-Bold;
          font-weight: 400;
          line-height: 125%;
          box-shadow: none;
          border-radius: 5px;
          height: 45.5px;
        }
      }
    }

    .noteBlock {
      display: flex;
      flex-direction: column;
      gap: 6px;
      width: 100%;
      margin-bottom: 12px;

      .row {
        display: flex;
        align-items: center;
        //justify-content: space-between;

        .date {
          font-size: 14px;
          color: #9e9e9e;
        }

        .editWrapper {
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-left: auto;
          width: 28px;
          height: 28px;
          border-radius: 50%;
          background-color: var(--app-gray-3);
        }

        .closeWrapper{
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 28px;
          height: 28px;
          border-radius: 50%;
          margin-left: auto;
          margin-right: 12px;
          background-color: var(--app-gray-3);
        }

        .checkWrapper {
          margin-left: 0 !important;
          background-color: var(--app-yellow-1);
        }

        .disabled{
          background-color: var(--app-gray-3) !important;
        }
      }

      .noteWrapper {
        display: flex;
        padding: 13px 18px 15px;
        border-radius: 10px;
        background-color: var(--app-gray-3);
        line-height: 26px;

        .note{
          word-break: break-all;
        }
      }
    }
  }

  .infoTextWrapper {
    text-align: center;
    padding-top: 24px;
    margin-top: auto;

    span {
      font-size: 14px;
    }
  }

  .newTextarea {
    height: 88px;
  }
}

.noteTextarea {
  textarea {
    font-size: 16px;
    line-height: 26px;
    max-height: 220px !important;
  }
}

.iconClose {
  font-weight: 600;
  transform: rotate(45deg);
}

@media screen and (max-width: 768px) {
  .form{
    padding-right: 0;
  }
  .notesWrapper {
   padding: 18px 0 0 0 !important;
  }

}

@media screen and (max-width: 425px) {

  .notesWrapper {
    height: 90%;
  }

  .infoTextWrapper {
    display: flex;
    justify-content: center;

    span {
      max-width: 270px
    }
  }
}