.wrapper {
  display: flex;
  position: relative;

  .bodyWrapper{
    display: flex;
    position: absolute;
    gap: 8px;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .bodyWrapper::-webkit-scrollbar {
    display: none;
  }

  .tab {
    display: flex;
    min-width: 132px;
    height: 36px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    transition: .2s all ease-in-out;
    background-color: var(--app-gray-3);
    //background: linear-gradient(90deg, red 5px, transparent 5px);

    .label {
      font-family: Gilroy-Bold;
    }
  }
}

.sessions {
  background: linear-gradient(90deg, #D0D4FF 5px, transparent 5px);
}

.consultations {
  background: linear-gradient(90deg, #AFEEAD 5px, transparent 5px);
}

.overrides {
  background: linear-gradient(90deg, #FFC38B 5px, transparent 5px);
}

.isActivesessions {
  background: linear-gradient(90deg, #D0D4FF, #D0D4FF);
}

.isActiveconsultations {
  background: linear-gradient(90deg, #AFEEAD, #AFEEAD);
}

.isActiveoverrides {
  background: linear-gradient(90deg, #FFC38B, #FFC38B);
}

@media screen and (max-width: 480px){
  .bodyWrapper{
    max-width: calc(100vw - 20px);
  }
}