.wrapper{
  display: flex;
  flex-direction: column;
  gap: 17px;

  .title{
    font-family: Gilroy-Bold, sans-serif;
    font-size: 18px;
    margin-bottom: 10px;
  }
}

.deleteButton{
    color: var(--app-red);
}