.sidebarWrapper {
  display: flex;
  width: 272px;
  flex-direction: column;
  gap: 28px;
  padding-top: 117px;
  height: calc(100vh - 40px);
  padding-bottom: 58px;

  .row {
    display: flex;
    gap: 14px;
    cursor: pointer;

    .icon {
      color: var(--app-gray-4);
      font-size: 22px;
      font-weight: 500;
    }

    .label {
      font-size: 20px;
      color: var(--app-gray-4);
      font-family: Gilroy-Bold;
    }

    &:hover {
      .icon {
        color: var(--app-black-1);
      }
      .label {
        color: var(--app-black-1);
      }
    }
  }
}

.heart{
  font-size: 26px !important;
  margin-left: -1px;
}

.active {
  span {
    color: var(--app-black-1) !important;
  }
  i {
    color: var(--app-black-1) !important;
  }
}

.greenDot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--app-cyan-1);
}

.burgerBottom {
  display: flex;
  flex-direction: column;
  margin-top: auto;

  .label {
    font-family: Gilroy-Medium;
    line-height: 125%;
    text-decoration: none;
    color: var(--app-black-1);
  }

  .feedbackWrapper {
    display: flex;
    align-items: center;
    gap: 4px;
    margin: 13px 0 12px;
    cursor: pointer;
  }

  .privacyRow {
    display: flex;
    align-items: center;
    gap: 6px;
    margin: 24px 0;

    .dot {
      width: 3px;
      height: 3px;
      background-color: var(--app-gray-4);
      border-radius: 50%;
      cursor: default;
    }
  }

  .lightLabel{
    color: var(--app-gray-4);
    font-size: 14px;
    line-height: 125%;
  }

  span {
    cursor: pointer;
  }
}

@media screen and (max-width: 1439px) {
  .sidebarWrapper {
    max-width: 230px;
    min-width: 160px;
    width: 100%;
  }
}
