.popupWrapper{
  position: absolute;
  background-color: var(--app-white-1);
  border-radius: 5px;
  z-index: 999;
  border: 1px solid #CBCBCB;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  cursor: pointer;

  ul{
    list-style-type: none;
    margin: 0;
    padding: 11px;

    li{
      display: flex;
      gap: 15px;
      flex-wrap: nowrap;
      font-size: 14px;
    }
  }
}