.pageWrapper {
  display: flex;
  flex-direction: column;
  gap: 28px;
  max-height: calc(87vh - 1px);
  overflow-y: auto;

  .titleWrapper {
    display: flex;
    width: 100%;
    justify-content: center;

    .title {
      font-family: Gilroy-Bold;
      font-size: 18px;
      line-height: 130%;
      letter-spacing: -0.18px;
    }
  }

}

.selectedCategoryWrapper {
  //i{
  //  margin-top: -20px;
  //}
  gap: 0;
}

.pageWrapper::-webkit-scrollbar {
  background-color: transparent;
  width: 7px;
}

.pageWrapper::-webkit-scrollbar-track {
  background-color: transparent;
  width: 7px;
}

.pageWrapper::-webkit-scrollbar-thumb {
  background-color: var(--app-gray-1);
  border-radius: 100px;
}

.groupsMain {
  display: flex;
  width: 100%;
  position: relative;
  padding: 0 45px 0 15px;

  .groupArrowWrapper {
    cursor: pointer;
    display: flex;
    height: 42px;
    width: 42px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: var(--app-white-1);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.10);
    flex-shrink: 0;
    z-index: 10;
    position: absolute;
  }

  .firstWrapper {
    top: 0;
    left: 0;
  }

  .secondWrapper {
    top: 0;
    right: 30px;
  }


  .groupsWrapper {
    width: 100%;
    display: flex;
    gap: 13px;
    overflow-x: auto;
    padding: 0 35px;
    scroll-behavior: smooth;
    scrollbar-width: none;

    .groupWrapper {
      display: flex;
      align-items: center;
      background-color: var(--app-gray-3);
      padding: 11px 18px;
      border-radius: 16px;
      cursor: pointer;
      flex-shrink: 0;

      .groupName {
        font-family: Gilroy-Bold;
        line-height: 20px;
      }
    }

    .active {
      background-color: var(--app-black-1) !important;

      .groupName {
        color: var(--app-white-1) !important;
      }
    }
  }

  .groupsWrapper::-webkit-scrollbar {
    display: none;
  }
}

.groupBackWrapper {
  width: 100%;
  display: flex;
  cursor: pointer;

  .groupBack {
    display: flex;
    font-size: 22px;
    margin-right: 10px;
    margin-top: 3px;
    z-index: 999;
  }

  .groupBackMobile {
    display: flex;
    font-size: 16px;
    margin-right: 10px;
    margin-top: 3px;
  }

  .groupNameTitle {
    font-family: Gilroy-Bold;
    font-size: 26px;
    line-height: 125%;
  }

  .groupNameTitleMobile {
    font-family: Gilroy-Bold;
    font-size: 20px;
    line-height: 125%;
    margin: auto;
    transform: translateX(-12px);
  }
}

.main {
  display: flex;
  flex-direction: column;
  gap: 42px;
  padding-bottom: 50px;

}

.mainBlock {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 21px;

  .blockTop {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .seeAllWrapper {
      display: flex;
      align-items: center;
      gap: 24px;
      margin-right: 30px;

      .arrowsWrapper {
        display: flex;
        align-items: center;
        gap: 20px;
      }

      .seeAll {
        height: 30px;
        width: 66px;
        display: flex;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        border-radius: 100px;
        background-color: #F1F2F6;
        font-family: Gilroy-Bold;
        font-size: 14px;
        line-height: 20px;
      }
    }
  }

  .cardRow {
    display: flex;
    width: 100%;

    .cardsWrapper {
      display: flex;
      width: 100%;
      gap: 16px;
      overflow-x: auto;
      scroll-behavior: smooth;
      scrollbar-width: none;
      padding-right: 93px;
    }

    .cardsWrapper::-webkit-scrollbar {
      display: none;
    }
  }
}

.iconWrapper {
  display: flex;
  width: min-content;
  align-items: center;
  cursor: pointer;
}

.selectedWrapper {
  display: flex;
  flex-direction: column;

  .categoryNameWrapper {
    margin: 24px 0 42px;
  }

  .selectedCardMain {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 16px;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    max-height: 70vh;
    padding-bottom: 20px;
  }
}

.selectedCardMain::-webkit-scrollbar {
  width: 0 !important;
  display: none !important;
}

.subtitle {
  font-family: Gilroy-Bold;
  font-size: 20px;
  line-height: 20px;
}

.disabled {
  cursor: default;

  i {
    color: var(--app-gray-3);
  }
}

@media screen and (max-width: 768px) {
  .pageWrapper {
    gap: 10px !important;
  }

  .mainBlock {
    width: calc(100% - 20px);
  }

  .groupsMain {
    padding: 0 !important;
  }

  .groupsWrapper {
    padding: 0 !important;
    flex-wrap: wrap;
    overflow-y: hidden;
  }

  .selectedCategoryWrapper {
    gap: 28px;
  }
  .pageWrapper {
    //gap: 0!important;
  }

  .cardsWrapper {
    padding-right: 77px !important;
  }
  .main {
    gap: 26px !important;
    width: calc(100vw - 35px);
    overflow-x: hidden;

    .mainBlock {
      gap: 11px !important;
    }
  }

  .cardsWrapper {
    gap: 12px !important;
  }

  .selectedWrapper {
    margin-top: -30px !important;
  }

  .categoryNameWrapper {
    margin: 34px 0 24px !important;
  }

  .seeAllWrapper {
    margin-right: 12px !important;
  }
}


@media screen and (max-width: 425px) {
  .main {
    width: calc(100vw - 30px) !important;
  }
  .selectedCardMain {
    overflow-x: hidden;
    max-height: 70vh !important;
  }
  .cardRow {
    width: calc(100% + 20px) !important;
  }
  .line {
    position: absolute;
    width: calc(100vw - 1px);
    display: flex;
    border-bottom: 1px solid var(--app-gray-3);
    top: 36px;
    left: -27px;
  }
}