.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  color: white;
  gap: 20px;
  padding-bottom: 27px;
  background-color: var(--app-black-1);

  .iconWrapper {
    padding: 18px 0 0 39px;
  }

  .mainWrapper {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0 179px;

    .trackWrapper {
      background-color: black;
      border-radius: 5px;
      position: relative;
      display: flex;
      width: 100%;
      height: 100%;
      align-items: center;
      justify-content: center;

      .loader {
        div {
          border: 10px solid var(--app-white-1);
          border-right-color: transparent;
          border-bottom-color: transparent;
        }
      }

      .localUserWrapper {
        overflow: hidden;
        display: flex;
        position: absolute;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        max-width: 224px;
        max-height: 183px;
        border-radius: 5px;
        background-color: black;
        border: 1px solid var(--app-gray-13);
        bottom: 10px;
        right: 10px;
      }
    }
  }

  .actionsWrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 42px;

    .action {
      position: relative;
      display: flex;
      height: 54px;
      width: 54px;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      cursor: pointer;
      background-color: var(--app-white-1);

      .hideLine {
        position: absolute;
        width: 24px;
        height: 0;
        border: 1px solid var(--app-black-1);
        rotate: 45deg;
      }
    }
    .offWrapper {
      background-color: var(--app-red);
      .closeIcon {
        color: var(--app-white-1);
        rotate: 45deg;
      }
    }

    .icon {
      font-size: 20px;
    }
  }

  .label1 {
    font-family: Gilroy-Bold;
    font-size: 22px;
  }
  .label2 {
    font-family: Gilroy-Bold;
    font-size: 14px;
  }
}

@media screen and (max-width: 1200px) {
  .iconWrapper {
    padding: 18px 0 0 20px !important;
  }
  .mainWrapper {
    padding: 0 100px !important;
  }
}

@media screen and (max-width: 1024px) {
  .mainWrapper {
    padding: 0 60px !important;
  }
}

@media screen and (max-width: 768px) {
  .localUserWrapper {
    width: 145px !important;
    height: 120px !important;
  }
  .mainWrapper {
    padding: 0 30px !important;
  }
}

@media screen and (max-width: 425px) {
  .wrapper{
    height: calc(100vh - 80px);
    flex: 1;
  }

  .mainWrapper {
    padding: 0 !important;
  }
}
