.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  gap: 70px;
  height: 100%;

  .closeWrapper {
    cursor: pointer;
    position: absolute;
    top: 50px;
    right: -100px;

    .closeIcon {
      display: flex;
      font-size: 21px;
      font-weight: 700;
      transform: rotate(45deg);
    }
  }


  .leftWrapper {
    position: relative;
    height: 602px;
    width: 521px;
    display: flex;
    padding: 61px 47px 72px 67px;
    background-image: url('../../assets/images/yellow-fon.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    .infoBlock {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 17px;
      grid-template-rows: repeat(3, 1fr);
      row-gap: 41px;

      .itemWrapper {
        display: flex;
        flex-direction: column;
        gap: 18px;

        .checkWrapper {
          width: 55px;
          height: 55px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          background-color: var(--app-white-1);
        }
        .yellowCircle {
          width: 24px;
          height: 24px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          background-color: var(--app-yellow-4);

          .icon {
            font-size: 14px;
          }
        }

        .itemInfo {
          display: flex;
          flex-direction: column;

          .infoTitle {
            font-family: Gilroy-Bold;
            font-size: 14px;
          }
          .infoDescription {
            font-family: Gilroy-Medium;
            font-size: 14px;
            line-height: 125%;
          }
        }
      }
    }

    .blackStar{
      position: absolute;
      top: 34px;
      right: 31px;
    }
  }

  .rightWrapper {
    display: flex;
    width: 100%;
    max-width: 335px;
    justify-content: center;
    flex-direction: column;
    gap: 33px;

    .titleBlock {
      display: flex;
      flex-direction: column;
      gap: 6px;

      .title {
        font-family: Gilroy-Bold;
        font-size: 28px;
      }

      .subtitle {
        font-size: 14px;
        max-width: 280px;
      }
    }

    .form {
      min-width: 335px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 12px;
      max-width: min-content;

      .usernameBlock {
        display: flex;
        width: 100%;

        .webLinkWrapper {
          display: flex;
          width: 143px;
          height: 44px;
          padding-left: 16px;
          align-items: center;
          background-color: var(--app-gray-3);
          border: 1px solid var(--app-gray-9);
          border-right: none;
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;

          .webLink {
            font-size: 14px;
            color: rgba(51, 51, 51, 0.7);
          }
        }

        .username {
          width: 190px;

          input {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
          }
        }
      }

      .forgot {
        text-decoration: none;
        color: var(--app-black-1);
        font-size: 13px;
        align-self: end;
        margin-bottom: 48px;
      }

      .checkbox {
        margin: 15px 0 19px;

        span {
          font-size: 14px;
        }
      }
    }

    .linksWrapper {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .label {
        font-size: 14px;

        span {
          color: var(--app-blue-3);
          cursor: pointer;
        }
      }
    }
  }
}

.error{
  transform: translateY(5px);
  align-self: start;
  font-size: 14px;
  color: var(--app-red);
}

@media screen and (max-width: 1400px) {
  .wrapper {
    padding-top: 70px;
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 850px) {
  .closeWrapper {
    top: -20px !important;
    right: 0 !important;
  }
}

@media screen and (max-width: 570px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 30px;

    .leftWrapper {
      display: none !important;
    }
  }
}
