.wrapper{
  gap: 10px;
  display: flex;
  max-width: 335px;
  width: 100%;
  flex-direction: column;
  padding: 14px 14px 16px 12px;
  border-radius: 8px;
  border: 1px solid var(--app-gray-1);

  .title{
    font-family: Gilroy-Bold;
  }

  .connectWrapper{
    display: flex;
    width: 309px;
    justify-content: space-between;
    align-items: center;
    padding: 8px 11px 8px 17px;
    border-radius: 5px;
    border: 1px solid var(--app-gray-1);

    .iconBin{
      cursor: pointer;
    }

    .calendarWrapper{
      display: flex;
      align-items: center;
      gap: 13px;

      .label{
        font-size: 14px;
      }
    }

    .button{
      width: 70px;
      height: 30px;
      box-shadow: none !important;
      font-size: 12px;
      font-family: Gilroy-Bold !important;
    }
    .buttonDisconnect{
      width: 100px;
      height: 30px;
    }
  }
}