.wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 6px;

  .avatar {
    width: 74px;
    height: 74px;
    margin-bottom: 12px;

    img {
      width: 74px;
      height: 74px;
    }
  }

  .title {
    font-family: Gilroy-Bold;
    font-size: 22px;
    margin: 6px 0 4px;
  }

  .row {
    display: flex;
    align-items: center;
    margin-top: 12px;
    gap: 10px;

    .icon {
      font-size: 20px;
      color: var(--app-gray-14);
    }

    .label {
      color: var(--app-gray-14);
    }
  }

  .iconBack {
    font-size: 20px;
    margin-bottom: 22px;
    cursor: pointer;
  }

  .label2 {
    color: var(--app-gray-14);
    font-size: 14px;
    margin: 15px 0;
  }

  .block {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 19px;
    gap: 14px;
    border-top: 1px solid var(--app-gray-11);
    margin-bottom: 15px;
  }

  .block2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 14px;

    .label3 {
      font-size: 12px;
      text-align: center;
    }
  }

  .badgeSlider {
    transform: translateX(-22px);
    div{
      cursor: default;
    }
  }

  .actions {
    display: flex;
    width: 100%;
    gap: 8px;
    margin-top: 19px;
  }

  .boldLabel {
    font-family: Gilroy-Bold;
  }

}

.label3{
  font-size: 12px;
  text-align: center;
}

.badgesWrapper {
  display: flex;
  width: 100%;
  gap: 9px;
}

.error {
  font-size: 14px;
  color: var(--app-red);
}

.button{
  width: 295px;
}

@media screen and (max-width: 425px) {
  .badgeSlider{
    transform: none!important;
  }

  .block{
    width: 335px !important;
    border: 1px solid var(--app-gray-11);
    border-radius: 5px;
    padding: 19px 0 20px 17px !important;
  }

  .line{
    display: flex;
    width: 100%;
    border-bottom: 1px solid var(--app-gray-11);
    margin-top: 20px;
  }
}
