.container{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1920px;
  position: relative;
  height: 100vh;

  .headerMain{
    display: flex;
    width: 100%;
    padding: 12px 40px;
  }

  .mainBody{
    display: flex;
    width: 100%;
    padding: 0 39px;
    height: 100%;

    .leftSide{
      display: flex;
      flex-direction: column;
      width: min-content;
      gap: 24px;
      height: 100%;
      padding-bottom: 200px;

      .moblileAppLabel{
        display: flex;
        width: 160px;
      }
    }
  }

}

.burgerIconWrapper{
  display: none;
}

.feedbackWrapper{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: auto;
  cursor: pointer;
}


@media screen and (max-width: 768px) {
  .container{
    height: auto !important;
    min-height: -webkit-fill-available !important;
  }

  .yellowBack{
    background-color: var(--app-yellow-5);
  }

  .mainBody{
    padding: 0 !important;
  }

  .leftSide{
    display: none !important;
  }

  .burgerIconWrapper{
    position: absolute;
    display: block;
    z-index: 99;
    right: 20px;
    top: 24px;
  }

  .headerMain{
    padding-left: 20px !important;
  }

  .headerWithBurger{
    padding: 12px 15px !important;
  }
}