:root {
  --app-black-1: #333333;
  --app-white-1: #ffffff;
  --app-gray-1: #d9d9d9;
  --app-gray-2: #f5f5f5;
  --app-gray-3: #f1f2f6;
  --app-gray-4: #8a8ea0;
  --app-gray-5: #cdcdcd;
  --app-gray-6: #7f828d;
  --app-gray-7: #626262;
  --app-gray-8: #939bab;
  --app-gray-9: #d8dadc;
  --app-gray-10: #858585;
  --app-gray-11: #EAEAEA;
  --app-gray-12: #E8E8E8;
  --app-gray-13: #767676;
  --app-gray-14: #737984;
  --app-gray-15: #999CA6;
  --app-gray-16: #818491;
  --app-gray-17: #f7f8ff;
  --app-gray-18: #f5f7fd;
  --app-gray-19: #E1E2E6;
  --app-yellow-1: #ffd442;
  --app-yellow-2: #ffefb7;
  --app-yellow-3: #FFC38B;
  --app-yellow-4: #FFE288;
  --app-yellow-5: #FFDC66;
  --app-yellow-card: #FFDD88;
  --app-red: #ff3a3a;
  --app-rose: #ffc4b7;
  --app-green-1: #66e264;
  --app-green-2: #afeead;
  --app-green-3: #11CE51;
  --app-cyan-1: #0fcec5;
  --app-cyan-2: #aaf3f0;
  --app-cyan-3: #40e2da;
  --app-cyan-4: #00B8AD;
  --app-blue-1: #8b94ff;
  --app-blue-2: #6461fc;
  --app-blue-3: #8C5FBD;
  --app-blue-4: #008CDB;
}
