.wrapper {
  display: flex;
  width: 100%;
  padding-right: 150px;
  flex-direction: column;
  padding-bottom: 45px;

  .main {
    display: flex;
    gap: 37px;
    margin-top: 42px;

    .leftWrapper {
      display: flex;
      flex-direction: column;
      width: 100%;

      .infoWrapper {
        max-width: 485px;
        width: 100%;
        display: flex;
        align-items: end;
        gap: 17px;
        margin-bottom: 24px;

        .infoBlock {
          display: flex;
          width: 100%;
          flex-direction: column;
          gap: 14px;

          .name {
            font-family: Gilroy-Bold;
            font-size: 22px;
          }
        }
      }

      .bioBlock {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .location {
          font-size: 14px;
          color: var(--app-gray-4);
        }
      }

      .specialitiesBlock {
        margin: 22px 0 30px;
        display: flex;
        max-width: 360px;
        width: 100%;
        gap: 7px;
        flex-wrap: wrap;
      }
    }

    .rightWrapper {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 12px;
      align-items: end;
      margin-bottom: 32px;
    }
  }

  .widthNavbar {
    margin-top: 24px !important;
  }
}

.wrapperWithUpgradeBanner {
  padding-top: 85px;

  .main {
    margin-top: 20px ;
  }
}

.shareWrapper {
  cursor: pointer;
  display: flex;
  height: 100%;
  justify-content: end;

  .shareIcon {
    font-size: 22px;
    margin-top: 18px;
    cursor: pointer;
  }
}

.mobileName {
  font-family: Gilroy-Bold;
  font-size: 22px;
}

.mediasWrapper {
  display: flex;
  gap: 6px;
}

.editButton {
  width: 98px;
  height: 38px;
  box-shadow: none;
  border-radius: 4px;
  font-family: Gilroy-Medium;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}

.banner {
  position: sticky;
  top: 35px;
  z-index: 9;
  transform: translateY(-30px);
}

.bannerWithUpgrade {
  position: sticky;
  top: 115px;
  z-index: 9;
  //transform: translateY(-30px);
}

.navbarWrapper {
  display: flex;
  flex-direction: column;
  gap: 19px;
  width: 100%;
  min-width: min-content;

  .navbarTitle {
    font-family: Gilroy-Bold;
    font-size: 24px;
  }

  .tempLabel {
    font-family: Gilroy-Bold;
    font-size: 18px;
    margin-top: 27px;
  }
}

.badge {
  border-radius: 4px;
  height: 38px;

  span {
    font-size: 15px !important;
  }

  i {
    font-size: 15px !important;
    color: var(--app-black-1);
  }
}

.badgeSpec {
  cursor: default;
}

.block {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 502px;
  width: 100%;
  padding: 15px 13px 15px 0;
  border-top: 1px solid var(--app-gray-3);
  margin-top: 15px;
  word-break: break-word;
}

.label {
  font-size: 14px;
}

.label2 {
  font-size: 16px;
  line-height: 26px;
}

.label2::marker {
  color: var(--app-gray-12);
}

.labelBio {
  white-space: pre-wrap;
  font-size: 16px;
  line-height: 26px;
  word-break: break-word;
}

.shortBio {
  white-space: pre-wrap;
  font-size: 16px;
  line-height: 26px;
  word-break: break-word;
}

.subtitle {
  font-family: Gilroy-Bold;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 9px;
  margin-left: 10px;
}

li::marker {
  color: var(--app-gray-12);
}

.feedbackButton {
  width: 210px;
  align-self: end;
  font-family: Gilroy-Medium;
}

.socialLink {
  display: flex;
  height: 30px;
  text-decoration: none;
}

.galleryWrapper {
  display: flex;
  width: 100%;
  height: 365px;
  min-width: min-content;
}

.gallery {
  margin-bottom: 23px;
}

.mobInfoWrapper {
  width: 100%;
  justify-content: center;
  flex-direction: column;
  display: flex;
  align-items: center;
  gap: 14px;
  margin-bottom: 20px;

  .nameRow {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  i {
    margin-top: 0 !important;
  }

  .w22 {
    width: 22px;
  }
}

.mobTitleWrapper {
  width: calc(100% + 50vw);
  margin-left: -20px;
}

.mobileTitle {
  font-family: Gilroy-Bold;
  font-size: 20px;
}

.video {
  width: 100%;
  height: 80vh;
}

.bannerMain {
  position: sticky;
  display: flex;
  justify-content: center;
}

.messageBadge {
  width: 98px;
}

.videoModal {
  background-color: transparent !important;
  box-shadow: none !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

@media screen and (max-width: 1439px) {
  .wrapper {
    padding-right: 110px;
  }
}

@media screen and (max-width: 1200px) {
  .wrapper {
    padding-right: 30px;
  }
  .feedbackButton {
    align-self: center;
  }
  .rightWrapper {
    align-items: start !important;
  }
}

@media screen and (max-width: 1100px) {
  .wrapper {
    padding-right: 15px;
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    padding-right: 0 !important;
  }

  .wrapperWithUpgradeBanner {
    padding-top: 0 !important;

    .main {
      margin-top: 0 !important;
    }
  }

  .banner {
    transform: none;
    margin: 10px 0 28px;
    top: 5px;
  }
  .specialitiesBlock {
    justify-content: center !important;
  }
  .bioBlock {
    align-items: center;
  }
  .feedbackButton {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 425px) {
  .shortBio {
    text-align: center;
  }

  .banner {
    align-self: center;
  }

  .leftWrapper {
    max-width: 335px;
  }
  .main {
    margin-top: 0 !important;
  }

  .rightWrapper {
    align-items: center !important;
  }
  .line {
    display: flex;
    margin: 8px 0 0 -50%;
    border-bottom: 1px solid var(--app-gray-3);
    width: calc(100% + 50vw);
  }
}
