.cardWrapper {
  display: flex;
  flex-direction: column;
  gap: 9px;
  height: min-content;

  .cardMain {
    border-radius: 16px;
    background-color: var(--app-yellow-card);
    padding: 5px 5px 5px 14px;
    cursor: pointer;

    .topActionsWrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .favoriteIcon {
        font-size: 16px;
        cursor: pointer;
      }

      .actionsWrapper{
        display: flex;
        align-items: center;
        margin-left: auto;
        gap: 5px;
      }

      .actionWrapper {
        width: 38px;
        height: 38px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: var(--app-white-1);
        cursor: pointer;
        border: 1px solid var(--app-gray-3);

        .actionIcon {
          font-size: 13px;
          font-weight: 700;
        }
      }
    }
  }

  .withoutAction {
    padding-top: 13px;
  }

  .cardName {
    margin-left: 3px;
    flex-wrap: wrap;
    max-width: 150px;
    width: 100%;
    color: var(--app-black-1);
    line-height: 20px;
    min-height: 36px;
  }

  .viewLabel {
    width: 187px;
    display: flex;
    align-items: center;
    color: #606060;
    font-family: Gilroy-Medium;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
  }

  .tag{
    display: flex;
    align-items: center;
  }

  .dot {
    display: flex;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: #606060;
    margin: 0 5px;
  }
}

.small {
  width: 154px;
  height: 180px;
}

.medium {
  width: 162px;
  height: 190px;
}

.large {
  width: 187px;
  height: 219px;
}