.wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.backIcon{
  font-size: 20px;
  margin-bottom: 12px;
  margin-top: -15px;
  cursor: pointer;
}
.imgWrapper{
  display: flex;
  width: 74px;
  height: 74px;
  border-radius: 50%;
  margin-bottom: 18px;
}
.img{
  display: flex;
  width: 74px;
  height: 74px;
  border-radius: 50%;
  object-fit: cover;
  figure{
    width: 74px;
    height: 74px;
    img{
      width: 74px!important;
      height: 74px !important;
    }
  }
}
.type{
  font-family: Gilroy-Bold;
  font-size: 22px;
  margin: 14px 0 16px;
}
.infoWrapper{
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.row{
  display: flex;
  align-items: center;
  gap: 10px;
}
.icon{
  font-size: 20px;
  color: var(--app-gray-14);
}
.label{
  margin-top: 4px;
  color: var(--app-gray-14);
}
.form{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 29px;
}
.countLabel {
  font-size: 12px;
  align-self: end;
  color: var(--app-gray-15);
  margin-bottom: 20px;
}

.line{
  display: flex;
  width: 100%;
  border-bottom: 1px solid var(--app-gray-11);
}
.totalBlock{
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 12px;
}
.totalLine{
  display: flex;
  justify-content: space-between;
}
.price{
  font-family: Gilroy-Bold;
}
.payBlock{
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 18px;
  margin: 18px 0;
  .payLabel{
    font-family: Gilroy-Bold;
    font-size: 18px;
  }

  .payButton{
    font-size: 18px;
    color: var(--app-white-1);
    background-color: var(--app-black-1);
  }
  .orBlock{
    display: flex;
    gap: 12px;
    align-items: center;
  }
  .apple{
    width: 16px;
    height: 16px;
    position: absolute;
    top: 55px;
    left: 128px;
  }
}

.inputsWrapper{
  display: flex;
  gap: 10px;
}
.expiryInput{
  input{
    width: 179px !important;
  }
}
