.wrapper {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;

  .topWrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 4px;
  }

  .label {
    font-family: Gilroy-Bold;
  }

  .main {
    display: flex;
    margin-top: 11px;
    gap: 68px;
    padding: 19px 23px 0 45px;

    .left {
      padding-top: 26px;
    }

    .right {
      display: flex;
      flex-direction: column;
      height: 362px;
      overflow-y: auto;
      width: 100%;
      gap: 15px;
      padding-bottom: 50px;

      .row {
        display: flex;
        gap: 15px;
        width: 100%;

        .lettersWrapper {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 57px;
          width: 57px;
          border-radius: 50%;
          background-color: var(--app-gray-3);
          font-size: 24px;
          font-weight: 800;
        }

        .checkBlock {
          padding-right: 27px;
          padding-bottom: 29px;
          flex: 1;
          display: flex;
          justify-content: space-between;
          border-bottom: 1px solid var(--app-gray-3);
          align-items: end;
          height: 72px;
        }
      }
    }
  }

  .button {
    bottom: 0;
    position: absolute;
    width: 330px;
    align-self: center;
  }
}

.disabled{
  cursor: default;
  background-color: var(--app-gray-3);
}

.right::-webkit-scrollbar {
  width: 7px;
}

.right::-webkit-scrollbar-thumb {
  background-color: var(--app-gray-1);
  border-radius: 5px;
}

@media screen and (max-width: 768px) {
  .main {
    flex-direction: column;
    padding: 0 !important;
    gap: 24px !important;
  }
  .left {
    gap: 24px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 0 !important;
  }

  .right{
    max-height: 290px;
    height: 100%;
  }
  .button{
    width: 100%!important;
  }

}