.wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;

  .titleWrapper {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 14px;

    .title {
      font-family: Gilroy-Bold;
      font-size: 28px;
    }
  }

  .button {
    margin: 59px 0 14px;
  }
}
