.wrapper{
  display: flex;
  width: 100%;
  max-width: 335px;
  padding-top: 103px;
  flex-direction: column;
  gap: 53px;

  .titleBlock{
    display: flex;
    flex-direction: column;
    justify-content: center;

    .title{
      font-family: Gilroy-Bold;
      font-size: 28px;
    }
  }

  .form{
    min-width: 335px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    max-width: min-content;

    .button{
      margin-top: 30px;
    }
  }

  .label{
    margin-top: 15px;
    font-size: 14px;

    span{
      color: var(--app-blue-3);
      cursor: pointer;
    }
  }
}