.wrapper {
  display: flex;
  width: 100%;
  max-width: 504px;
  height: 360px;
  position: relative;
  overflow: hidden;
}

.notFirst {
  justify-content: end !important;
}

.bodyWrapper {
  display: flex;
  gap: 10px;
}

.card {
  display: flex;
  position: relative;
  height: 360px;
  min-width: 360px;
  max-width: 360px;
  width: 100%;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
}

.videoWrapper {
  display: flex;
  height: 360px;
  min-width: 360px;
  max-width: 360px;
  width: 100%;
  border-radius: 5px;
  align-items: center;
  justify-content: center;

  .video {
    display: flex;
    height: 360px;
    min-width: 360px;
    max-width: 360px;
    width: 100%;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    object-fit: cover;
  }
}

.backImage {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.playWrapper {
  position: absolute;
  cursor: pointer;
  display: flex;
  width: 42px;
  height: 42px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(1px);
  z-index: 2;

  .playIcon {
    color: var(--app-white-1);
  }
}


.arrowWrapper {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 34px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}

.left {
  position: absolute;
  top: calc(50% - 16px);
  left: 9px;
  z-index: 2;
}

.right {
  position: absolute;
  top: calc(50% - 17px);
  right: 9px;
  z-index: 2;
}

.hided {
  display: none;
}

@media screen and (max-width: 550px) {
  .videoWrapper {
    height: 335px !important;
    min-width: 335px;
    max-width: 335px;

    .video {
      height: 335px !important;
      min-width: 335px;
      max-width: 335px;
    }
  }

  .card {
    height: 335px !important;
    min-width: 335px;
    max-width: 335px;
  }
  .wrapper {
    overflow: visible;
    width: 100% !important;
  }
  .arrowWrapper {
    display: none;
  }

  .bodyWrapper {
    gap: 5px;
    position: absolute;
    overflow-x: scroll;
    scrollbar-width: none;
    max-width: calc(100vw - 60px);
    -ms-overflow-style: none;
  }

  .bodyWrapper::-webkit-scrollbar {
    display: none;
  }

}

@media screen and (max-width: 400px) {
  .bodyWrapper {
    max-width: calc(100vw - 35px);
  }
}

@media screen and (max-width: 375px) {
  .bodyWrapper {
    max-width: calc(100vw - 20px);
  }
}