.form {
    flex-direction: column;
    display: flex;
}

.button {
    margin-top: 27px;
}

.input{
    margin-top: 7px;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.error-message {
    font-size: 14px;
    color: var(--app-red);
    margin-bottom: 3px;
}

.stripeWrapper {
    height: 44px;
    padding: 12px 0 10px 16px;
    border: 1px solid var(--app-gray-9);
    border-radius: 5px;
    margin-bottom: 3px;
}