.switchContainer {
  display: flex;
  position: relative;
}

.switchContainer input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider:before {
  position: absolute;
  content: '';
  height: 19px;
  width: 19px;
  border-radius: 50%;
  background-color: var(--app-white-1);
  transition: 0.4s;
}

.slider {
  width: 37px;
  height: 21px;
  cursor: pointer;
  border-radius: 11px;
  background-color: var(--app-gray-5);
  border: 1px solid var(--app-gray-5);
  transition: 0.4s;
}

input {
  &:checked {
    & ~ .slider {
      background-color: var(--app-cyan-3);
      border: 1px solid var(--app-cyan-3);
    }
  }
}

input {
  &:checked {
    & ~ .slider {
      &:before {
        transform: translateX(16px);
        background-color: var(--app-white-1);
      }
    }
  }
}

.label {
  position: absolute;
  cursor: pointer;
  left: 57px;
  font-family: Gilroy-Medium;
}
