.wrapper {
  display: flex;
  cursor: pointer;
  align-items: center;
  gap: 6px;
  max-height: 48px;

  .label {
    text-align: center;
    line-height: 20px;
    font-size: 14px;
  }
}

.wrapped {
  display: flex;
  width: 42px;
  gap: 1px;
  cursor: pointer;
  flex-direction: column;
  border-radius: 5px !important;

  .label {
    font-size: 12px;
  }

  .secondLabel {
    font-family: Gilroy-Bold;
    font-size: 15px;
  }
}

.primary {
  justify-content: center;
  border-radius: 16px;
  padding: 5px 12px;
  background: var(--app-gray-3);
}

.secondary {
  justify-content: center;
  min-width: 79px;
  border-radius: 5px;
  padding: 6px 12px;
  border: 1px solid var(--app-gray-3);
}

.active {
  background: var(--app-yellow-2);
}

.availability {
  background: var(--app-yellow-1);
}

.secondaryActive {
  border: 1px solid var(--app-black-1);
}

.withPrice{
  justify-content: space-between;
}

.price{
  font-family: Gilroy-Bold;
  color: var(--app-cyan-1);
}