.wrapper {
  width: 100%;
  display: flex;

  .bodyWrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .item {
    cursor: pointer;
    display: flex;
    min-width: 229px;
    width: 100%;
    padding: 13px 25px 13px 12px;
    align-items: center;
    justify-content: space-between;
    transition: .2s all ease-in-out;

    .leftBlock {
      display: flex;
      align-items: center;
      gap: 9px;

      .iconWrapper {
        display: flex;
        width: 28px;
        height: 28px;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        background-color: var(--app-white-1);
        transition: .2s all ease-in-out;

        .icon{
          color: var(--app-black-1) !important;
        }
      }

      .label {
        font-family: Gilroy-Bold;
      }

      .heart{
        font-size: 17px;
      }
    }

    &:hover{
      background-color: var(--app-white-1);

      .iconWrapper{
        background-color: var(--app-gray-3);
      }
    }
  }

  .oldAccountItem{
    .iconWrapper{
      background-color: var(--app-gray-3) !important;
    }

    &:hover{
      background-color: var(--app-gray-3) !important;

      .iconWrapper{
        background-color: var(--app-white-1) !important;
      }
    }
  }
}

.iconRightArrow {
  color: var(--app-gray-8);
  font-size: 14px;
  font-weight: 500;
}

.cyan {
  background-color: var(--app-cyan-2);
}
.yellow {
  background-color: var(--app-yellow-2);
}

@media screen and (max-width: 425px) {
  .item {
    &:hover {
      background-color: var(--app-yellow-2) !important;
    }
  }
}
