.modalWrapper {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  position: fixed;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.50);
}

.overlay {
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
  overflow: auto;
  overscroll-behavior: auto;

  @supports (-webkit-touch-callout: none) {
    min-height: 100svh;
    max-height: 100svh;
    max-height: -webkit-fill-available;
  }
}

.container {
  display: flex;
  min-height: 100%;
  padding: 32px 16px;
  align-items: center;
  justify-content: center;
}

.mainModal {
  padding: 34px 27px 33px;
  min-width: 320px;
  max-width: 100%;
  position: relative;
  border-radius: 5px;
  background-color: var(--app-white-1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

  &.withBorder{
    border: 5px solid var(--app-yellow-2)
  }

  &.withCloseIcon {
    padding: 23px 27px 33px;
  }
}

.closeIcon {
  top: 21px;
  right: 35px;
  cursor: pointer;
  position: absolute;
  transform: rotate(45deg);
  z-index: 1000;
}

@media screen and (max-width: 430px) {
  .container {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }

  //.mainModal {
  //  border-bottom-left-radius: 0;
  //  border-bottom-right-radius: 0;
  //}
}
