.diagramWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 333px;
  border-radius: 10px;
  background-color: var(--app-yellow-5);
  overflow-x: hidden;
  position: relative;

  .averageWrapper {
    display: flex;
    flex-direction: column;
    padding: 22px 24px 0;
    gap: 5px;

    .average {
      font-family: Gilroy-Bold;
      font-size: 34px;
    }

    .moodLabel {
      color: #A98817;
      font-family: Gilroy-Bold;
      font-size: 12px;
    }
  }

  .dateWrapper {
    display: flex;
    position: absolute;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    width: 213px;
    height: 39px;
    background: rgba(255, 255, 255, 0.8);
    padding: 0 17px;
    top: 10px;
    right: 9px;
    z-index: 99;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.10);

    .weekDate {
      display: flex;
      flex-wrap: nowrap;
      text-align: center;
      font-family: Gilroy-Bold;
      font-size: 16px;
    }
  }

  .linesWrapper {
    margin-left: -40px;
    width: calc(100% + 80px);
    display: flex;
    justify-content: center;
    position: relative;

    .buble{
      height: 51px;
      width: 52px;
      position: absolute;
      top: 60px;
    }
  }

  .weeksWrapper {
    padding-bottom: 16px;
    width: 100%;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .weekLabelsRow {
      display: flex;
      justify-content: space-between;
      padding: 0 35px;

      .weekLabel {
        color: #D6B646;
        text-align: center;
        font-family: Gilroy-Medium;
        font-size: 12px;
      }
    }

    .weeksRow {
      display: flex;
      justify-content: center;
      gap: 12px;

      .currentWeek {
        align-items: center;
        display: flex;
        color: var(--app-white-1);
        font-family: Gilroy-Bold;
        font-size: 14px;

        .currentDot {
          background-color: var(--app-white-1);
        }
      }

      .prevWeek {
        align-items: center;
        display: flex;
        color: rgba(51, 51, 51, 0.20);
        font-family: Gilroy-Bold;
        font-size: 14px;

        .prevDot {
          background-color: rgba(51, 51, 51, 0.20);
        }
      }

      .dot {
        display: flex;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        margin-right: 7px;
      }
    }
  }
}

.lineDefault {
  line {
    display: none;
  }

  tspan {
    fill: #D6B646 !important;
    font-family: Gilroy-Medium !important;
    font-size: 12px !important;
  }
}

.disabledArrow {
  cursor: default !important;
  color: #EBD27E;
}

.iconWrap {
  display: flex;
  cursor: pointer;
  height: min-content;
  -webkit-user-select: none;
}

.feedIcon {
  height: 21px;
  width: 25px;
}

.mainLine{
  svg {
    height: 240px !important;
  }
}

.emptyStateWrapper{
  height: 165px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 425px) {
  .diagramWrapper {
    border-radius: 0;
    height: 400px !important;
    background-color: transparent;
    background-image: url("../../../src/assets/images/graphic_background.svg");
    background-repeat: no-repeat;
    background-size: auto 100%;
    overflow-y: hidden;
  }

  .dateWrapper {
    display: flex;
    z-index: 999 !important;
    top: auto !important;
    bottom: 10px !important;
    right: calc(50% - 106px) !important;
  }

  .weeksWrapper {
    padding-bottom: 56px !important;
  }
}