.base {
  cursor: pointer;
}

span {
  font-family: Gilroy-Medium;
}

.withMg:before {
  margin-right: 12px;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + span:before {
  content: "";
  width: 18px;
  height: 18px;
  padding: 0;
  border-radius: 50%;
  vertical-align: top;
  display: inline-block;
  border: 1px solid var(--app-gray-1);
}

input[type="checkbox"]:checked + span:before {
  content: "";
  border-radius: 50%;
  text-align: center;
  background: var(--app-cyan-1);
  border: 1px solid var(--app-gray-1);
  box-shadow: inset 0 0 0 3px var(--app-white-1);
}

input[type="checkbox"]:focus + span::before {
  outline: 0;
}

.secondary input[type="checkbox"] + span:before {
  border: 1px solid var(--app-black-1);
  width: 22px;
  height: 22px;
}

.secondary input[type="checkbox"]:checked + span:before {
  position: relative;
  width: 24px;
  height: 24px;
  border: none;
  background-color: var(--app-yellow-1);
  box-shadow: none;
}

.checkIcon {
  position: absolute;
  left: 7px;
  top: 5px;
  font-size: 11px;
  color: var(--app-black-1);
}